body {
   background-color: white;
}  
 
* {   
   cursor: grab
}


img#bunny-1 {
   width: 100px;
   position: absolute;
}

img#bunny-2 {
   width: 100px;
   position: absolute;
   left: 200px;
   /*visibility: hidden*/;
}

img#bunny-3 {
   width: 100px;
   position: absolute;
   left: 125px;
   top: 205px;
   /*visibility: hidden*/;
}

img#bunny-4 {
   width: 100px;
   position: absolute;
   left: 220px;
   top: 205px;
   visibility: hidden;
}